body {
	
	color : grey;
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent{
    color: white;
    display: none;
    padding: 40px;
    text-align: center;

}
td {
	padding: 25px;
	width: 590px;
	height: 330px;
}

.project_img {
	width: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 60px black;
}

#welcome {text-align: center;}

#electronics {background-color:#FF5722;}
#code {background-color:#B2FF59;}
#welcome {background: url(rf.gif) center;}
#android {background-color:#42A5F5;}
#other {background-color:#FFA726;}
