body {
	margin: 60px auto;
	color : red;
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent{
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
#electronics {background-color:red;}
#code {background-color:green;}
#welcome {background-image: url("paper.gif");}
#android url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif);
background-size: cover;}
#other {background-color:orange;}
