body {
	font-family: courier;
	color : grey;
}

.isStuck{
    left:0px;
    width:100%;
}

/*-----main shit here----*/

/*styling for the five buttons at the top*/
.tablink {
	font-family: courier;
    background-color: #555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}
/*styling for the top banner with the info when a tab is selected*/
.tabcontent{
	font-family: courier;
    color: white;
    display: none;
    padding: 40px;
    text-align: center;
}

/*col1/2 stylinng */
.col2 {
	background-size: cover;

	width:40%;
float:left;

}
.col1 {
	padding-top: 20px;
	padding-bottom: 30px;
width:60%;
float:left;
background-color: #f6f6f6;
}
/* grid encasing the col1/2 */
.grid{
	display: flex;
background-color: #f6f6f6;
align-items: stretch;
}

/*-----hover shit here-----*/
.introduction:hover {
width:100%;
}

.col1:hover {
width:65%;}
.col1:hover + .col2 {
    width:35%
}
.col2:hover {
width:45%;
}
.col2:hover + .col2 {
    width:50%
}

.project_image:hover {

	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 80px black;
}
/*change the colur when you hover on the buttons*/
.tablink:hover {
	font-family: courier;
    background-color: #777;
}
.firebutton:hover {
	font-family: courier;
    background-color: #777;
}
.fireoffbutton:hover {
	font-family: courier;
    background-color: #777;
}
.fireanglebutton:hover {
	font-family: courier;
    background-color: #777;
}

/*-----the content for the main page----*/
/*to avoid hard coding ive made some main and then for specific elemtns they have there secondary class */
.content {
	position: center;
	font-family: Arial;

	font-size: 17px;
	text-align: center;
	 -webkit-transition: all 1s ease;
}


.introduction {
	height: auto;
	width:95%;
	position: centre;
	text-align: center;
float:none;
	background-color: #ffffff;


}
.p2{
		background: url(images/meme.gif) center;
	background-color: #f6f6f6;
	background-repeat: no-repeat;
	background-size: cover
}
.p3{
		background: url(images/trump.gif) center;
	background-color: #f6f6f6;
	background-repeat: no-repeat;
	background-size: cover
}
.p6{
		background: url(images/godleft.jpg) center;
	background-color: #f6f6f6;
	background-repeat: no-repeat;
	background-size: cover
}
.col1.p4{
		background-color: #C8C8C8;
		font-family: 'Roboto Slab';
		font-size: 22px;
				color: #444;
}
.col1.p1{
		background-color:	#D8D8D8;
		font-family: 'Roboto Slab';
		font-size: 22px;
				color: #444;
}
.col1.p5{
	background-color: #C8C8C8;
	font-family: 'Roboto Slab';
	font-size: 22px;
			color: #444;
}
.case{
	float:inherit;
}
.spacer{
	width:100%;
	padding-top: 20px
}

/*all the .button crap is for the animation meaning i had to add two classes to most of the buttons */
.button {
  text-align: center;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.navtab{
	color: white;
	width: 20%
}
/* styling for the firework on button, uses the same styling as the others just the
width is 100%*/
.firebutton{
    width: 100%;
}

.downloadbutton{
    width: 98%;
		border-left: 2px solid;
}
/* styling for the firework angle buttons, uses the same styling as the others just the
width is 20% to leave room for the firework off button*/
.fireanglebutton {
    width: 20%;
}
/* styling for the firework off button, uses the same styling as the others just the
width is 80% to leave room for the angle button*/
.fireoffbutton {
    width: 80%;
}

/* all the a crap is to make links look good some are for the download links some are for the rest*/
a {
	font-family: courier;
    color: white;
		text-decoration: none;
}
.gh a:link{
	font-family: courier;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
display: inline-block;}

a:hover{
    background-color: #4CAF50;
}

.downloadlinks a {
	font-family: courier;
    color: white;
}
.downloadlinks a:link{
	font-family: courier;
    background-color: #f44336;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
display: inline-block;}

.downloadlinks a:hover{
    background-color: #4CAF50;
}
/* adds shadow to the bottom of the div with all the buttons*/
.buttonrow {

  width: 100%;
  height: 40px;
}


/*styling for the banner in the downloads page,has shadow*/
.tabcontent2{
	font-family: courier;
    color: white;
    display: block;
    padding: 40px;
    text-align: center;
	 height: 40px;
	 position:relative;
    z-index:0;
		width: 100%
  -webkit-box-shadow: 0 7px 4px -2px #1a1a1a;
          box-shadow: 0px 7px 4px -2px #1a1a1a;}



.tabcontent3{
	font-family: courier;
    color: white;
    display: none;
    padding: 60px;
    text-align: center;

}

/*some code i mugged of joe and still havent got working to sort the content
in each tab into nice lil boxes*/
tr{
	width:100%
}

td {
	padding: 30px;
	width: 50%;
	height: 50%;
   margin: 0 auto;
}

/*adjusts the image of each thing, also mugged off joe*/
.project_image {

	max-width: 93%;
	max-height: 93%;
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 80px black;
	 -webkit-transition: all 2s ease;
}

/*for mobile...*/
@media only screen and (max-width: 600px) {
.tablink{
	font-size: 10px;
}

	.col1.p1{
		font-size: 19px;
	}
	.col1.p4{
		font-size: 19px;
	}
	.col1.p5{
		font-size: 19px;
	}
	.col1{
			background-color:	#D8D8D8;
			font-family: 'Roboto Slab';
			font-size: 12px;
					color: #444;
					width:100%;
			     height:auto;
			     position:static;
					 padding-bottom: 0px

	}

.col2{
	width:100%;
	height:275px;
display: inline-block;
clear: left;}

.col2.p3{
	width:100%;
	height:235px;
display: inline-block;
clear: left;
}
.col2.p6{
	width:100%;
	height:235px;
display: inline-block;
clear: left;
}
.grid{
display: inline;
}
.col1:hover {
width:100%;}
.col1:hover + .col2 {
    width:100%
}
.col2:hover {
width:100%;
}
.col2:hover + .col2 {
    width:100%
}
}

/*all of the ones below use the id to style whatever has the id,
here its mostly colour or visibility*/

#anglex{display:none}
#angley{display:none}

#off-angle{display:none}
#on-angle{display:none}
#off-button {display:none}


#bigman {display: none;}
#codeman {display: none;}
#electronicsman {display:none}
#otherman {display:none}
#joescolour {background-color:#00979F}

#welcome {text-align: center;}

#electronics {background-color:#FF5722;}
#code {background-color:#B2FF59;}
#welcome {background: url(images/source.gif) center;}
#android {background-color:#42A5F5;}
#other {background-color:#FFA726;}
#other2 {background-color:#FFA726;}

/*code fom here on downwards courtesy of shreyas: https://github.com/shreyaspandit/html5-fireworks*/

* {
    margin: 0;
    padding: 0;
}

canvas {
    display: none;
	position:fixed;
	z-index:-1
}
